body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.core-header {
  background-color: #526E9C; color: #fafafa;
  padding:8px 20px; 
}

.core-header-inner, .main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.core-header h1 {
  margin: 0;
  float: left;
}

.core-header esri-search-field {
  width: 50%;
  float: right;
}

#map {
  margin-top: 15px;
  width: 100%;
  height: 400px;
  background-color: lightgray;
}

esri-search-field::shadow core-field {
  background-color: #fafafa;
}

esri-search-summary {
  position: relative;
  margin-top: 25px;
  color: #526E9C;
}

esri-search-summary::shadow paper-spinner {
  position: absolute;
}

esri-search-results {
  position: relative;
  /*overflow-y: scroll;*/
}

esri-search-results::shadow paper-spinner {
  position: absolute;
}

esri-search-results::shadow ul {
  /*columns: 2;*/
}

esri-search-results::shadow esri-search-result::shadow li {
  color: #526E9C;
  font-size: 85%;
  margin-top: 10px;
  height: 60px;
  border-color: lightgray;
  cursor: pointer;
  width: 31%;
  display: inline-block;
}

esri-search-results::shadow esri-search-result::shadow li .snippet, esri-search-results::shadow esri-search-result::shadow li h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
