:host {
  display: block;
}

core-field {
  border: solid 2px #eee;
  border-radius: 5px;
}

core-field core-icon {
  color: #aaa;
}

core-field input#search {
  width: 100%;
  vertical-align: middle !important;
}

core-field .twitter-typeahead {
  width: 100%
}


.tt-dropdown-menu {
  width:100%;
  min-width: 300px;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #D0CFD4;
  background-color: #fff;
}

.tt-dropdown-menu .tt-suggestion {
  padding: 2px 10px;
}

.tt-dropdown-menu .tt-suggestion p {
  line-height: 2em;
  margin: 0;
}

.tt-dropdown-menu .tt-suggestion strong { 
  color: #56A5D8;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor {
  background-color: #D2E9F9;
}

.tt-dropdown-menu .empty-message {
  padding: 10px;
  color: #56A5D8;
}